* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body {
    background: #eef2f7;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Gallery box */
.gallery-container {
    background: #fff;
    padding: 20px;
    width: 380px;
    border-radius: 12px;
    box-shadow: 0 10px 20px rgba(0,0,0,.15);
}
.main-image img {
    width: 100%;
    aspect-ratio: 1 / 1;      
    border-radius: 10px;
    transition: transform .3s ease;
}

.main-image img:hover {
    transform: scale(1.03);
}
.thumbnail-container {
    margin-top: 15px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 8px;
}
.thumbnail-container img {
    width: 100%;
    aspect-ratio: 1 / 1;      
    object-fit: cover;
    border-radius: 8px;
    cursor: pointer;
    opacity: .7;
    border: 2px solid transparent;
    transition: .25s ease;
}
.thumbnail-container img:hover {
    opacity: 1;
    border-color: #0d7df2;
}
.thumbnail-container img.active {
    opacity: 1;
    border-color: #0d7df2;
}
h1{
    margin-bottom: 15px;
}